/** MAIN STYLESHEET **/

/* Variables: */
:root {
    /* Primary colors: */
    --Green: hsl(75, 94%, 57%);

    /* Neutral colors: */
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);

    /* Default font size: */
    --Paragraph: 14px;
}

/* Global properties: */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* Font - Inter (400, 600 & 700): */
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

/* Body properties: */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Off-Black);
    color: white;
}